.who-am-i {
  margin: 20px;
  color: rgba(255, 255, 255, 0.39);
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 1.5rem;
  bottom: 30px;
  left: 50%;
  z-index: 20;
}
