.who-am-i {
  margin: 20px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-text-stroke: 1px rgb(94, 94, 94);
  z-index: 3;
}
