.screen {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
/*  Used for providing space between components
 */
.spacerXSmall {
  height: 8px;
  width: 8px;
}

/*  Used for providing space between components */
.spacerSmall {
  height: 16px;
  width: 16px;
}

/* Used for providing space between components */
.spacerMedium {
  height: 24px;
  width: 24px;
}

/*  Used for providing space between components */
.spacerLarge {
  height: 32px;
  width: 32px;
}

/* Used for providing a wrapper around a component */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.textTitle {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
}

.textSubTitle {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
}

.textDescription {
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  padding: 2px;
}

.styledClickable :active {
  opacity: 0.6;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #2b2b2b; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-right: 10px;
}

.connect {
  margin-top: 6rem;
}
